<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open-inscription-session</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/Home.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/openInscription.css}" >
</head>
<body>
<header>
    <div class="logo"><img th:src="@{/image/v4.png}"></div>
    <div class="bar"><p>Les inscriptions seront ouvertes le 20/04/2021</p></div>
    <div class="bs-example navg Header" id="myHeader">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">About</a>
                    <a href="#" class="nav-item nav-link">services</a>
                </div>
                <form class="form-inline ml-auto search">
                    <input type="text" class="form-control mr-sm-2 f" placeholder="Search">
                    <button type="submit" class="btn btn-outline-light d">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>
<div class="backg">
    <div class="container contact-form">
        <div class="contact-image">
            <img th:src="@{/image/hajj6.jpg}" alt="rocket_contact"/>
        </div>
        <form method="post" th:object="${inscription}" th:action="@{/lancerInscription}">
            <h3>Lancer l'inscription</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <input  type="hidden" id="#id" name="id" class="form-control col-md-5"   value="" required th:field="*{id}"/>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-4" for="#datedebut">Date de début</label>
                        <input  type="date" id="#datedebut" name="datedebut" class="form-control col-md-5" placeholder="Date de début *" value="" required th:field="*{dated}"/>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-4" for="#datefin">Date de fin</label>
                        <input type="date" id="#datefin" name="datefin" class="form-control col-md-5" placeholder="Date de fin *" value="" required th:field="*{datef}"/>
                    </div>
                    <div class="form-group row">
                        <label class="label col-md-4" for="nombreplace">Nombre de place</label>
                        <input type="number" id="nombreplace" name="nombre-place" class="form-control col-md-5" placeholder="Nombre de place *" value="" required th:field="*{nmbrplace}" />
                    </div>
                    <div class="form-group row">
                        <input type="submit" name="btnSubmit" class="btnContact" value="Lancer l'inscription" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="link col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                </ul>
            </div>
            <div class="link col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                </ul>
            </div>
            <div class="link col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                </ul>
            </div>
        </div>
        <div class="social-link row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">© All right Reversed.<a class="text-green ml-2" href="" target="_blank">Hajj Site</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="Home.js"></script>
</body>
</html>